@font-face {
  font-family: "VAG Rounded W01 Thin";
  src: url(../assets/fonts/vagrounded-light-webfont.woff) format('woff');
}

@font-face {
  font-family: "VAG Rounded W01 Light";
  src: url(../assets/fonts/vagrounded-light-webfont.woff) format('woff') ;
}

@font-face {
  font-family: "VAG Rounded W01 Bold";
  src: url(../assets/fonts/vagrounded-bold-webfont.woff) format('woff');
}

//Global custom variables
body {
	font-family: 'Arial, Helvetica', sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 20px;
	font-family: 'VAG Rounded W01 Light';
	font-size: 0.813em;
	color: #494b51;
  overflow-x: hidden;
  background-image: none;
  
  @media #{$medium-only} {
    margin-top: 55px;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: #6FAB2D;
  transition: color .5s ease;
  font-weight: bold;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

li {
  line-height: 20px;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.vagbold {
  font-family: 'VAG Rounded W01 Bold';
}

.clear {
  clear: both;
}

figure img {
  width: 100%;
}

.breadcrumb {
  position: relative;
  width: auto;
  max-width: 988px;
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  li {
    list-style-type: none;
    font-size: 100%;
    margin: 0;
    display: inline-block;
  }
  @media #{$medium-only} {
    margin-left: 10px;
  }
  @media #{$small-only} {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.button-apply-small {
  margin: 0px;
  font-family: 'VAG Rounded W01 Light';
  background: #F96E00;
  color: white;
  font-size: 120%;
  border-radius: 4px;
  padding: 5px 30px 5px 30px;
  @media only screen and (max-width: 640px) {
    margin: 5px;
    padding: 5px 20px 5px 10px;
    font-family: 'VAG Rounded W01 Light';
    background: #F96E00;
    color: white;
    font-size: 100%;
    border-radius: 4px;
  }

  @media only screen and (max-width: 900px) {
    font-size: 100%;
  }
}