@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'main';

#about-our-loans-page-wide-title {
  width: auto;
  position: relative;
  clear: both;
  margin: 40px 0px 10px 0px;
  padding: 0px 10px;

  article {
    max-width: 988px;
    margin: 0 auto;
  }

  h1 {
    margin: 0px;
    padding: 10px 0px 0px 0px;
    font-size: 2.8em;
    color: #6FAB2D;
  }
}

#about-our-loans {
  padding: 10px 0 30px;
}