@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'main';

.button-apply-small {
  margin: 0px;
  padding: 5px 17px 5px 8px;
  font-family: 'VAG Rounded W01 Light';
  background: #F96E00;
  color: white;
  font-size: 120%;
  border-radius: 4px;
  padding: 5px 30px 5px 30px;
}
