@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'main';

#about-page-wide-title {
  article {
    background: none;
  }
  h1 {
    color: #000000;
  }
}

.compare-page-desc {
  padding: 0 0 30px 0;
  @at-root #{&}__column {
    background: none;
    margin: 0 auto;
    max-width: 998px;
    p {
      font-size: 1.6em;
      font-weight: normal;
      line-height: 1.2em;
      margin: 0;
      padding: 20px 0px 10px 0;
      width: 100%;
      max-width: 850px;
    }
    @media #{$medium-only} {
      margin: 0 15px;
    }
    @media #{$small-only} {
      margin: 0 15px;
      p {
        font-size: 1.4em;
      }
    }
  }
}

#compare-loans-page-mw-headline {
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  background-color: #76a645;
  padding-bottom: 20px;
  
  h1 {
    padding-top: 20px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 36px;

    @media #{$small-only} {
      font-size: 2em;
      margin: 0 15px;
    }
    @media #{$medium-only} {
      margin: 0 15px;
    }
  }
  
  article {
    max-width: 988px;
    margin: 0 auto;
  }
  .scrollToTop img {
    width: 50px;
    height: 53px;
    float: right;
    @media #{$small-only} {
      width: 40px;
      height: 43px;
    }
  }
}

.compare-table {
  font-size: 0.813em;

  table.tftable {
    float: left;
    margin: 0 auto;
    font-size: 1.4em;
    color: #ffffff;
    width: 90%;
    border-width: 1px;
    border-color: #ffffff;
    border-collapse: collapse;
    td {
      border-width: 1px;
      padding: 4px 10px 4px 10px;
      border-style: solid;
      border-color: #ffffff;
    }
  }
} 

.button-apply-small {
  margin: 0px;
  font-family: 'VAG Rounded W01 Light';
  background: #F96E00;
  color: white;
  font-size: 120%;
  border-radius: 4px;
  padding: 5px 30px 5px 30px;
  @media only screen and (max-width: 640px) {
    margin: 5px;
    padding: 5px 20px 5px 10px;
    font-family: 'VAG Rounded W01 Light';
    background: #F96E00;
    color: white;
    font-size: 100%;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
  }

  @media only screen and (max-width: 900px) {
    font-size: 100%;
  }
}