@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'main';

#page-wide-title {
  @media #{$small-only} {
    font-size: 0.853em;
  }
  .tftable-container {
    overflow-x: auto;
  }
}

table.tftable {
  font-size: 1.6em;
  color: #333333;
  width: 98%;
  border-width: 1px;
  border-color: #ffffff;
  border-collapse: collapse;
  tr {
    background-color: #E2EED4;
  }
  th {
    font-size: 1.2em;
    background-color: #E2EED4;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ffffff;
    text-align: left;
  }
  td {
    border-width: 1px;
    padding: 12px;
    border-style: solid;
    font-size: inherit;
    border-color: #ffffff;
  }
}